APP_NAME="Lo Samajh Lo"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_TIMEZONE=Asia/Kolkata
APP_URL=http://localhost:8000
APP_LOCALE=en
APP_FALLBACK_LOCALE=hi
APP_FAKER_LOCALE=en_IN

LOG_CHANNEL=stderr
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=error

DB_CONNECTION=sqlite
DB_DATABASE=/var/www/html/database/database.sqlite

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

FILESYSTEM_DISK=public
QUEUE_CONNECTION=sync
CACHE_STORE=file
CACHE_PREFIX=lsl_

MAIL_MAILER=log
MAIL_FROM_ADDRESS="noreply@losamajhlo.com"
MAIL_FROM_NAME="${APP_NAME}"
